<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shopping Cart</title>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Sriracha&display=swap"
      rel="stylesheet"
    />
    <!-- CSS -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static',filename='css/style-carrito.css') }}"
    />
  </head>
  <body>
    <!-- Header -->
    <header>
      <div class="container">
        <img
          class="logo"
          src="/static/css/images/logostudiocuisine.png"
          alt="Logo StudioCuisine"
        />
        <nav>
          <a href="/templates/index.html">Inicio</a>
          <a href="/templates/menu1combi.html">Productos</a>
          <a href="#">Antójate</a>
          <a href="#">Restaurantes</a>
          <a href="#">Contáctanos</a>
        </nav>
      </div>
    </header>

    <!-- Shopping Cart Section -->
    <section class="seccionmenu">
      <h1 class="titulomenu">Bienvenido a tu carrito:</h1>
      <div class="fondogris">
        <div class="contenido">
          <div class="container-cards">
            <!-- Shopping Cart Form -->
            <form action="/templates/carrito.html" method="get">
              <div id="shopping-cart">
                <div class="txt-heading">Carrito de compras</div>
                {% if 'cart_item' in session %}
                <a id="btnEmpty" href="{{ url_for('.empty_cart') }}"
                  >Vaciar Carrito</a
                >
                <table class="tbl-cart" cellpadding="10" cellspacing="1">
                  <tbody>
                    <tr>
                      <th style="text-align: left">Nombre</th>
                      <th style="text-align: left">Código</th>
                      <th style="text-align: right" width="5%">Cantidad</th>
                      <th style="text-align: right" width="10%">
                        Precio Unitario
                      </th>
                      <th style="text-align: right" width="10%">Precio</th>
                      <th style="text-align: center" width="5%">Quitar</th>
                    </tr>
                    {% for key, val in session['cart_item'].items() %} {% set
                    quantity = session['cart_item'][key]['quantity'] %} {% set
                    price = session['cart_item'][key]['price'] %} {% set
                    item_price = session['cart_item'][key]['total_price'] %}
                    <tr>
                      <td>
                        <img
                          src="/static/images/{{ session['cart_item'][key]['image'] }}"
                          class="cart-item-image"
                        />{{ session['cart_item'][key]['name'] }}
                      </td>
                      <td style="text-align: right">
                        {{ session['cart_item'][key]['code'] }}
                      </td>
                      <td style="text-align: right">{{ quantity }}</td>
                      <td style="text-align: right">&#36; {{ price }}</td>
                      <td style="text-align: right">&#36; {{ item_price }}</td>
                      <td style="text-align: center">
                        <a
                          href="{{ url_for('.delete_product', code=session['cart_item'][key]['code']) }}"
                          class="btnRemoveAction"
                        >
                          <img
                            src="/static/images/icon-delete.png"
                            alt="Remove Item"
                          />
                        </a>
                      </td>
                    </tr>
                    {% endfor %}
                    <tr>
                      <td colspan="2" align="right">Total:</td>
                      <td align="right">{{ session['all_total_quantity'] }}</td>
                      <td align="right" colspan="2">
                        <strong>&#36; {{ session['all_total_price'] }}</strong>
                      </td>
                      <td></td>
                    </tr>
                  </tbody>
                </table>
                {% else %}
                <div class="no-records">Tu carrito está vacío</div>
                {% endif %}
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    <!-- Additional Information Section -->
    <section class="informacionadicional">
      <div class="container2">
        <div class="acercade">
          <div class="card1">
            <div class="producto-info">
              <h2 class="producto">Acerca de:</h2>
              <p class="texto">
                Studio Cuisine es un Dark Kitchen donde puedes encontrar
                diferentes líneas de comida para degustar y escoger según tu
                gusto.
              </p>
            </div>
          </div>
          <div class="card1">
            <div class="producto-info">
              <h2 class="producto">Información:</h2>
              <p class="texto">
                Donde encontrarnos: Auquisamaña Alto, Calle Jazmines #100.
              </p>
            </div>
          </div>
          <div class="card1">
            <div class="producto-info">
              <h2 class="producto">Contacto:</h2>
              <p class="texto">
                Celular: 79151105 email: std.cuisine@gmail.com
              </p>
            </div>
          </div>
        </div>
        <div class="imagenlogo2">
          <img
            class="logo2"
            src="/static/css/images/logostudiocuisine.png"
            alt="LogoStudioCuisine2"
          />
        </div>
      </div>
    </section>
  </body>
</html>
